body, html {
    height: 100%;
}
  
.bg {
    background-image: url("./images/SCSU_recolored.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.header {
    padding-top: 2%;
    text-align: center;
    color: whitesmoke;
}

.subheader {
    text-align: center;
    color: whitesmoke;
}

.player1 {
    text-align: center;
    color: whitesmoke;
}

.player2 {
    text-align: center;
    color: whitesmoke;
}

.card {
    background-color: whitesmoke;
    transition: box-shadow 0.1s ease;
}

.card:not(.shadow):hover {
    box-shadow: 0 0 10px 10px lightblue;
}

.card.shadow {
    box-shadow: 0 0 10px 10px lightblue !important;
}

.row.selected {
    background-color: black;
}