/* Rick: contributed to all custom css minus the comments made by Corwin */

body, html {
    height: 100%;
}

/* Corwin: I added this to make it so the rows don't shrink as cards are hidden */
.row.justify-content-md-center {
    height: 160px;
}
  
.bg {
    background-image: url("./images/SCSU_recolored.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.header {
    padding-top: 2%;
    text-align: center;
    color: whitesmoke;
}

.subheader {
    text-align: center;
    color: whitesmoke;
}

.player1 {
    text-align: center;
    color: whitesmoke;
}


.player2 {
    text-align: center;
    color: whitesmoke;
}

.card {
    background-color: whitesmoke;
    transition: box-shadow 0.1s ease;
}

.card:not(.shadow):hover {
    box-shadow: 0 0 10px 10px lightblue;
}

.card.shadow {
    box-shadow: 0 0 10px 10px lightblue !important;
}

.card.shadow:hover {
    box-shadow: 0 0 10px 10px gold !important;
}

.row.selected {
    background-color: transparent;
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.6);
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 100px;
}

.table_header {
    text-align: center;
    color: whitesmoke !important;
    background-color: rgb(0, 51, 153) !important;
}

.user1.turn {
    background-color: transparent;
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.6);
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 100px;
}

.user2.turn {
    background-color: transparent;
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.6);
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 100px;
}
